<%= form_for(@proxy_image) do |f| %>
  <% if @proxy_image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@proxy_image.errors.count, "error") %> prohibited this proxy_image from being saved:</h2>

      <ul>
      <% @proxy_image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.file_field :content %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
